<%= form_for([@ward, @complaint]) do |f| %>
  <% if @complaint.errors.any? %>
    <div class="alert alert-error">
      <h5>Oops! You must enter a complaint before submitting!</h5>
    </div>
  <% end %>
    <div class="field">
      <%= f.text_area :complaint_text, :rows => "10", :placeholder => "Enter complaint here..."  %>
    </div>
    
    <div class="alert alert-info">
	    <%= f.submit  %>
    </div>

<% end %>
