<%= form_for([@ward, @complaint]) do |f| %>
  <% if @complaint.errors.any? %>
   <div class="alert alert-danger" role="alert">
      <h5>Oops! You must enter a complaint before submitting!</h5>
    </div>
  <% end %>
    
      <%= f.text_area :complaint_text, :rows => "5", :placeholder => "Enter complaint here...", :class => "form-control"  %>
    
    
    <div class="alert alert-info">
	    <%= f.submit  %>
    </div>

<% end %>
