


<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
			<%= image_tag("/chicago.jpg", :alt => "image of chicago", :width => "100%", :class => "img-rounded") %>
 		</div>
                  
    <div class="item">
			<%= image_tag("/chicago2.jpg", :alt => "image of chicago", :width => "100%", :class => "img-rounded") %>
    </div>
		<div class="item">
			<%= image_tag("/chicago3.jpg", :alt => "image of chicago", :width => "100%", :class => "img-rounded") %>
    </div>
	</div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
</div>





<div class="alert alert-info">
<h2 class='info'>Select Your Ward Number</h2>
<button type="button" id="example" class="btn btn-info btn-xs"rel="popover" html="true"
   data-content="The City of Chicago is divided into fifty legislative districts or wards. Each district is represented by an alderman who is elected by their constituency to serve a four year term."
   data-original-title="What is this?">?
</button>
</div>





<div class="wardindex">
	<% @wards.each do |ward| %>
		<%= link_to ward.ward_num, ward, :class => "btn btn-default" %>
	<% end %>
</div>

<ul class="nav nav-pills nav-stacked">
<li><a href="https://webapps.cityofchicago.org/StickerOnlineWeb/pageflows/wardLookUp/WardLookUpController.jpf" target="_blank">Look Up Ward Number</a></li>
  <li><a href="https://data.cityofchicago.org/w/8yti-tif4" target="_blank">View Wards on Map</a></li>
</ul>



  
