<div class="alert alert-info">
<h2>Select Your Ward Number</h2>
</div>



<% @wards.each do |ward| %>


<button type="button" class="btn btn-large" ><%= link_to ward.ward_num, ward %></button>



    

  
<% end %>





  
