<p id="notice"><%= notice %></p>

<p>
  <b>You entered ward number:</b></br>
  <%= @ward.ward_num %>
</p>


<p>If this is correct, </br>
<%= link_to 'Click to enter complaint', new_ward_complaint_path(@ward) %>
</p>
</br>
<%= link_to 'If not, please click here to go back', wards_path %>



